node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.DS_Store
/android/*
!/android/gradlew
!/android/gradlew.bat
!/android/gradle/
!/android/build.gradle
!/android/settings.gradle
/ios
